body, html {
    background: #FFFFFF;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', arial;
}

.container {
    display: flex;
    flex-direction: column;
}

.navbar {
    align-items: center;
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    padding: 5% 0px 5% 10%;
}

.header-logo {
    font-size: 48px;
    font-weight: extra-bold;
    margin-right: 30%;
}

.header-links {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    padding: 0px 100px 0px 0px;
}

.header-links a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    padding: 10px;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    background-color: #1F2937;
    padding: 50px 100px 50px 100px;
}

.hero-text {
    margin-right: auto;
}

.hero h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.hero button {
    color: white;
    font-size: 18px;
    background-color: #3882F6;
    border: none;
    padding: 6px 12px 6px 12px;
    border-radius: 4px;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB
}

.hero-image {
    margin-left: 20px;
    width: 500px;
    height: 250px;
    margin-left: auto;
    border: 3px solid gray;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 70px;
    gap: 16px;
}

.cards div {
    text-align: center;
    width: 204px;
}

.cards img {
    width: 200px;
    height: 200px;
    border: 2px solid #3882F6;
    border-radius: 16px;
}

.quote {
    padding: 75px 20% 75px 20%;
    background-color: #E5E7EB;
    font-style: italic;
    font-size: 32px;
}
.quote p {
    font-weight:lighter;
}
.quote b {
    padding-left: 30%;
}

.sign-up {
    margin: 10%;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 16px 24px 16px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sign-text {
    color: white;
    margin-right: 10px;
}

.sign-up button {
    margin-right: 25px;
    background-color: #3882F6;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 12px;
    color: white;
    padding: 2px 16px 2px 16px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
}